<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            border-spacing: 2px;
        }
        th, td {
            border: 1px solid #000;
            padding: .25rem 1rem;
        }
        a {
            display: block;
            width: fit-content;
            padding: .5rem 1rem;
            background-color: #48f;
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>email</th>
                <th>phone</th>
                <th>name_first</th>
                <th>name_last</th>
                <th>birthday</th>
                <th>gender</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="id"></td>
                <td id="email"></td>
                <td id="phone"></td>
                <td id="name_first"></td>
                <td id="name_last"></td>
                <td id="birthday"></td>
                <td id="gender"></td>
            </tr>
        </tbody>
    </table>
    <a href="/controller/unlog.php">Se déconnecter</a>

    <script>
        async function updateOutput() {
            const response = await fetch("/controller/session_get.php");
            const infos = await response.json();
            console.log(infos);
            
            Object.entries(infos).forEach(key => {
                console.log(key[0], key[1]);
                document.getElementById(key[0]).innerText = key[1];
            });
        }
        updateOutput();
    </script>
</body>
</html>