body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
}
a {
    color: #365899;
    text-decoration: none;
}

.login {
    width: 100%; height: 3.75rem;
    color: #ffffff;
    font-size: .55rem;
}
.login a {
    color: #93AED8;
}
.login-form {
    display: flex;
    width: 100%; height: 100%;
    padding: 0 .875rem;
    box-sizing: border-box;
    background-color: #3B5997;
}
.login-field {
    display: flex; 
    margin: .375rem; padding: 0;
    margin-right: 0;
    flex-direction: column;
    border: none;
}
.login label {
    font-weight: bold;
}
.login input, .login-button {
    margin: .15rem 0;
    margin-right: .375rem;
    padding: .25rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    border-radius: 0;
    font: inherit
}
.login input {
    width: 6.875rem; height: 1.25rem;
}
.login-button {
    width: 4rem; height: 1.5rem;
    background-color: #4267B2;
    border: 1px #29487D solid;
    color: #ffffff;
}


.signup {
    height: calc(100vh - 4rem);
    background: linear-gradient(
        180deg,
        #FFF 0,
        #D4D8E8 100%
    );
    padding-top: 1.75rem;
    padding-left:  1rem;
    box-sizing: border-box;
}
.signup form {
    width: 19.25rem; 
}

h1, p {
    margin: .5rem 0;
    margin-left: .25rem;
}
h1 {
    font-size: 1.5rem;
}
p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 0; padding: 0;
    border: none;
    font-size: .85rem;
}
.field-martop {
    margin-top: 1.8rem;
}

.field-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    margin-left: .25rem;
}
.field-grid input {
    width: 100%; height: 2rem;
    margin: 0;
    box-sizing: border-box;
}
.grid-2 {
    grid-column: 1 / span 2;
}

.signup-field {
    display: flex;
    margin: 1rem 0;
}
.signup-field-2 {
    margin-top: .7rem;
    margin-left: .25rem;
    margin-bottom: .125rem;
}

.signup-input {
    padding: .5em;
    background-color: #fff;
    border: 1px #BDC7D8 solid;
    border-radius: .25rem;
}

.date-input {
    -moz-appearance: textfield;
    width: min-content; height: 1.5rem;
    box-sizing: border-box;
    font-size: .5rem;
}
.date-input::-webkit-outer-spin-button,
.date-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.date-input::placeholder {
    color: #000;
}

.gender-field input {
    width: .5rem;
    margin-left: .5rem;
}
.gender-field label {
    margin-left: .25rem;
    margin-right: 1.25rem;
}

.signup-whybirth {
    display: inline-block;
    width: 6.5rem;
    margin: 0 .5rem;
}
.signup-tos {
    width: 14rem;
    margin-top: .25rem;
    margin-bottom: 0;
    font-size: .51rem;
}

.signup-submit {
    width: 9.375rem; height: 2rem;
    margin-left: .25rem;
    background-color: #8C4;
    background: linear-gradient(
        180deg,
        #8C7 0%,
        #7B5 10%,
        #584 100%
    );
    box-shadow: 0 0 1px 1px #Cf84 inset;
    border: 1px #3b6e22 solid;
    border-bottom: 1px #2c5115 solid;
    color: #fff;
    font-weight: bolder;
    text-shadow: 0 1px 2px #0008;
}
.signup-submit:disabled {
    background-color: #fff;
    background: linear-gradient(
        180deg,
        #8C78 0%,
        #7B58 10%,
        #5848 100%
    );
    box-shadow: none;
    border: 1px #3b6e2288 solid;
    color: #EFD;
}

.login .tiny-text {
    font-size: .47rem;
}
.signup .tiny-text {
    font-size: .51rem;
}

.empty {
    height: 1em;
}